/*Navigation header and nametag title*/

h1 {
    background-color: #4aaaa5;
    color: white;
    font-size: 29px;
    padding: 14px;
    width: 180px;
    text-align: center;
    float: left;
    position: absolute;
    top: -22px;
    left: 17%;
}

header {
    background-color: white;
    color: #999;
    padding: 20px;
    border-bottom: 3px solid #ccc;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

a,
a:visited {
    text-decoration: none;
    color: #999;
    position: relative;
    left: 71%;
}

/*end of nav bar*/

/*universal framework parameters*/

html,
body {
    height: 100%;
    margin: 0;
}

body {
    background: url(../images/texture.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.content {
    background-color: white;
    margin: auto;
    width: 960px;
    padding: 0px 20px 20px 20px;
    margin-top: 30px;
}

hr {
    background-color: #999;
    width: 100%;
    height: 1px;
}

/*end of framework*/

/*about page*/

.me {
    float: left;
    padding: 10px;
}

/*contact page*/

h2 {
    color: #4aaaa5;
}

label {
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
}

textarea {
    display: block;
    width: 100%;
    height: 200px;
}

input {
    display: block;
    width: 100%;
}

button {
    background-color: #4aaaa5;
    color: white;
    border: 0;
    margin-top: 15px;
    padding: 5px 10px 5px 10px;
    box-shadow: 2px 2px #666;
}

button:hover {
    background-color: #eee;
    color: #4aaaa5;
    box-shadow: 3px 3px #4aaaa5;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/*portfolio page*/

.image {
    position: relative;
}

h5 {
    background-color: #4aaaa5;
    color: white;
    padding: 10px;
    width: 180px;
    text-align: center;
    z-index: 2;
    position: absolute;
    top: 125px;
}

ul {
    list-style-type: none;
    columns: 2;
    float: left;
    padding: 0;
    margin-top: 20px;
}

li {
    margin: 0px 20px 30px 0px;
}

/*footer*/

.footer,
.push {
    height: 40px;
}

.footer {
    background-color: #666;
    color: white;
    text-align: center;
    border-top: 4px solid #4aaaa5;
    line-height: 20px;
}

h3 {
    font-size: 12px;
}

@media only screen and (max-width: 980px) {
    body {
        width: 980px;
}
h1 {
    left: 3%;
}
    .content {
        width: 60%;
        margin: 3%;
    }
}
@media screen and (max-width: 768px) {
    body {
        width: 768px;
    }
    
    .content { 
        width: 86%;
        margin: 3%;
    }
}

@media screen and (max-width: 640px) {
    body {
        width: 640px;
    }
    header{
        padding: 50px 0 0 0;
        width: 100%;
        height: 25px;
        position: fixed;
       z-index: 9;
    }
    h1 {
        text-align: center;
        margin: 0;
        padding: 5px 0;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
    }
    a {               
        position: relative;
        left: 35%;
    }
    
    
    .content {
        width: 85%;
        margin: 16% 3% 3% 3%;
       
    }
} 